@charset "UTF-8";
/*!
  This stylesheet is full of errors
*/

.ccerror{
  color: aliceblue;
}

.nocolorlink{
  color: inherit;
  text-decoration: none;
}

.fixed{
  font-size: 12px !important;
  line-height: 6px !important;
}

.letter{
  letter-spacing: 5px !important;}

.word{
  word-spacing: 10px !important;}

h3.fixed{
  font-size: 24px !important;
  
}

.note{
  font-size: 0.66em;
  
}

/*!
script modal
*/

.modal {
  background-color: rgba(0,0,0,0.5);

  height: 100vh;
  width: 100vw;

  position: absolute;
  left: 0;
  top: 0;

  display: none;
}

.modal--visible {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__content {
  background-color: rgb(255, 255, 255);
  
  height: 70%;
  width: 70%;
  padding: 2rem;

  position: relative;
}

.modal__close {
  background-color: #000000;
  
  position: absolute;
  right: -1rem;
  top: -1rem;
  
  color: #ffffff;
}

:focus {
  outline: 4px solid #FF0000;
}