@charset "UTF-8";
/*!  This stylesheet is based on:  Blitz — CSS framework for reflowable eBooks*/
@namespace h "http://www.w3.org/1999/xhtml/";
@namespace epub "http://www.idpf.org/2007/ops";
html {
 
}
/* RESET */
article,
address,
aside,
blockquote,
canvas,
dd,
details,
div,
dl,
dt,
figure,
figcaption,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hr,
li,
main,
nav,
ol,
p,
pre,
section,
summary,
ul {
  margin: 0;
  padding: 0;
  /* RS may apply vertical padding to el such as p */
  font-size: 1em;
  /* Font size in pixel disable the user setting in legacy RMSDK */
  line-height: inherit;
  /* Kindle ignores it, Kobo needs it. If you don’t use inherit, the user setting may be disabled on some Kobo devices */
  text-indent: 0;
  font-style: normal;
  font-weight: normal;
  /* font-family code goes here */
}
/* Backwards compatibility */
article,
aside,
figure,
figcaption,
footer,
header,
main,
nav,
nav,source
section {
  display: block;
}
[hidden] {
  display: none;
}
/* [Opinionated] Default to prevent RS from justifying all of these! */
h1,
h2,
h3,
h4,
h5,
h6,
dt,
pre {
  text-align: left;
} 

/* Following EPUB 3 spec by the letter (applies to RS but let’s make sure it is respected because we never know) */
nav[epub|type~="toc"] ol {
  list-style: none !important;
}
/* Kindle does not follow the EPUB 3 spec. */
@media amzn-kf8, amzn-mobi {
  nav ol {
    list-style-type: none !important;
  }
}
/* [Opinionated] Default to prevent bloat in case linear="no" is rendered as linear="yes" */
nav[epub|type~="landmarks"],
nav[epub|type~="page-list"] {
  display: none;
}
a,
abbr,
b,
bdi,
bdo,
cite,
code,
data,
del,
dfn,
em,
i,
ins,
kbd,
mark,
q,
rp,
rt,
rtc,
ruby,
s,
samp,
small,
span,
strong,
sub,
sup,
time,
var {
  font-size: inherit;
  vertical-align: baseline;
  font-style: inherit;
  /* Taking nesting of inline elements into account (e.g. sup nested in em) */
  font-weight: inherit;
  /* Taking nestiog of inline elements into account (e.g. em nested in strong) */
  color: inherit;
  text-decoration: none;
}
q {
  quotes: none;
}
/* Trying to prevent blank page if element with margin-bottom at the end of xhtml */
body > :last-child,
body > section > :last-child {
  margin-bottom: 0;
}
/* PAGE LAYOUT */
@page {
  margin: 30px 30px 20px 30px;
  /* Recommended by Barnes & Noble in this old spec: https://simg1.imagesbn.com/pimages/pubit/support/pubit_epub_formatting_guide.pdf */
  padding: 0;
}
body {
    font-size: 100%;
    line-height: 1.5;
    /* margins added for HTML, should be controlled by RS */
    margin-left: 3em;
    margin-right: 3em;
/* RS will override margins anyways */
    padding: 0;
    widows: 2;
    /* iBooks and Kobo support widows and orphans */
    orphans: 2;
    /* text-align code goes here */
}
/* TYPOGRAPHY */
h1,
h2,
h3,
h4,
h5,
h6,
blockquote p cite,
dt,
pre,
address,
table,
caption,
th,
td,
.align-left,
.align-center,
.align-right,
.caption,
.no-hyphens {
  adobe-hyphenate: none;
  /* proprietary for Legacy RMSDK */
  -ms-hyphens: none;
  -moz-hyphens: none;
  -webkit-hyphens: none;
  -epub-hyphens: none;
  hyphens: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
dt,
hr {
  page-break-inside: avoid;
  break-inside: avoid;
  page-break-after: avoid;
  break-after: avoid;
}
@media amzn-kf8 {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  dt,
  hr {
    page-break-inside: auto;
    break-inside: auto;
    /* Fix blank bug because of page-break-inside: avoid… */
  }
}
h1 {
    font-size: 3em;
    line-height: 1.2;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-weight: bold;
}
@media amzn-kf8 {
  h1 {
    line-height: 1.2;
    /* Minimum value Kindle supports */
  }
}
@media amzn-mobi {
  h1 {
    font-size: xx-large;
    /* Keywords offer more precision for mobi 7*/
    margin: 0 0 3em 0;
    /* mobi7 doesn’t support decimal values */
  }
}
.subtitle {
    font-size: 2em;
    line-height: 1.0;
    margin-top: 0em;
    margin-bottom: 0.5;
    font-weight: bold;
}
h2 {
    font-size: 2em;
    line-height: 1.0;
    margin-top: 0em;
    margin-bottom: 0.5em;
    font-weight: bold;
}
@media amzn-kf8 {
  h2 {
    line-height: 1.2;
    /* Minimum value Kindle supports */
  }
}
@media amzn-mobi {
  h2 {
    font-size: x-large;
    margin: 2em 0 1em 0;
  }
}
h3 {
    font-size: 1.5em;
    line-height: 1.0em;
    margin-top: 0em;
    margin-bottom: 0.3em;
    font-weight: bold;
}
@media amzn-mobi {
  h3 {
    font-size: large;
    margin: 1em 0;
  }
}
h4 {
  font-size: 1.25em;
  line-height: 1.0em;
  margin-top: 0em;
  margin-bottom: 0em;
}
@media amzn-mobi {
  h4 {
    font-size: medium;
    margin: 1em 0 0 0;
  }
}
h5 {
    font-size: 1.15em;
    line-height: 1.0em;
    margin-top: 0em;
    margin-bottom: 0em;
}
h6 {
    font-size: 1.05em;
    line-height: 1.0em;
    margin-top: 0em;
    margin-bottom: 0em; 
}
p {
    text-indent: 0em; /* optionally could indent first line of p */
    margin-bottom: 0.5em;
}
.footnote {
  font-size: 0.9em;
  line-height: 1.2;
  text-indent: 0;
}
@media amzn-mobi {
  .footnote {
    font-size: medium;
  }
}
.footnote-ref {
    font-size: 85%;
    vertical-align: super;
    margin-left: 0.3em;
    color: blue;
    text-decoration: underline;
}

blockquote {
  margin: 1.5em 5%;
}
@media amzn-mobi {
  blockquote {
    margin: 1em 5%;
  }
}
blockquote p {
  text-indent: 0;
  font-style: italic;
}
blockquote p i,
blockquote p em,
blockquote p cite {
  font-style: normal;
}

aside {
    margin: 10px;
    width: 95%;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
}

.pullquote {
    width: 80%;
    padding: 13px;
    margin: 0 13px 13px 0;
    border-left: solid;
}

.pullquoteleft {
    float: left;
    width: 20%;
    padding: 13px;
    margin: 0 13px 13px 0;
    border-right: solid;
}

.pullquoteright {
    float: right;
    width: 20%;
    padding: 13px;
    margin: 0 13px 13px 0;
    border-left: solid;
}

address {
  /* Styles */
}
/* MICRO TYPOGRAPHY */
a {
  text-decoration: underline;
  /* Note: KF8 will force this value unless you use "el.class a" */
  font-weight: bold;
  color: inherit;
  -webkit-text-fill-color: inherit;
  /* iBooks override (iOS 9 + El Capitan in night mode) */
  /* inherit = text color */
}
abbr {
  /* Note: Kindle doesn't support that */
}
i,
cite,
dfn,
em {
  font-style: italic;
}
/* Get back to normal when italic nested in italic */
i i,
i cite,
i dfn,
i em,
cite i,
cite cite,
cite dfn,
cite em,
dfn i,
dfn cite,
dfn dfn,
dfn em,
em i,
em cite,
em dfn,
em em {
  font-style: normal;
}
b,
strong {
  font-weight: bold;
}
del,
s {
  text-decoration: line-through;
}
mark {
  background-color: yellow;
  color: inherit;
}
ins {
  /* Styles */
}
small {
  font-size: 0.8125em;
}
@media amzn-mobi {
  small {
    font-size: small;
  }
}
/* Styling is improved to prevent sub from affecting line-height */
sub {
  font-size: 75%;
  line-height: 1.2;
  vertical-align: sub;
  /* Fallback */
  vertical-align: -20%;
}
@media amzn-mobi {
  sub {
    font-size: x-small;
  }
}
/* Styling is improved to prevent sup from affecting line-height */
sup {
  font-size: 75%;
  line-height: 1.2;
  vertical-align: super;
  /* Fallback */
  vertical-align: 33%;
}
@media amzn-mobi {
  sup {
    font-size: x-small;
  }
}
/* i18n */
/* Ruby text */
rt {
  font-size: 50%;
  /* Line-height may need to be adjusted to fit ruby text. */
  text-transform: full-size-kana;
  /* Increases the legibility of Japanese ruby characters. */
}
/* FIGURES + IMAGES  */
figure {
  page-break-inside: avoid;
  break-inside: avoid;
  margin: 1.5em 0;
}
@media amzn-kf8 {
  figure {
    page-break-inside: auto;
    break-inside: auto;
    /* Fix blank bug because of page-break-inside: avoid… */
  }
}
figcaption,
.caption {
  font-size: 0.9em;
  line-height: 1.3;
  text-indent: 0;
}
img {
  width: auto;
  max-width: 100%;
  /* Note: KF8 doesn't support max-width hence "width: auto;" as fallback */
  height: auto;
  object-fit: contain;
  vertical-align: bottom;
  /* Remove gap after the image */
}
/* Note: portrait image styling + figcaption is a nightmare */
/* See https://github.com/jstallent/ImagesSingleFile for the css hack */
img.portrait {
  width: auto;
  max-width: 100%;
  /* Note: KF8 doesn't support max-width hence "width: auto;" as fallback */
  height: 100%;
  /* We try to prevent blank page after */
  max-height: 95%;
  /* Max value iBooks enforces */
}
.float-left img,
.float-right img {
  width: 100%;
  /* If it’s auto, image in floating container will overflow on Kobo iOS + Kindle */
}
@supports (height: 99vh) {
  img.portrait {
    height: 99vh;
  }
}
/* LISTS */
ul,
ol {
    margin-top: 0em;
    margin-bottom: 0.3em;
    padding-left: 2em;
}
@media amzn-mobi {
  ul,
  ol {
    margin: 1em 0;
  }
}
ol ol,
ol ul,
ul ol,
ul ul {
  padding-left: 1em;
}
ul {
  list-style-type: disc;
  list-style-position: outside;
}
ul ul {
  list-style-type: square;
}

/* DEFINITION LISTS */
dl {
  margin: 1.5em 0 1.5em 5%;
}
@media amzn-mobi {
  dl {
    margin: 1em 5%;
  }
}
dt {
  margin: 1.5em 0 0 0;
  font-weight: bold;
}
@media amzn-mobi {
  dt {
    margin-top: 1em;
  }
}
dd {
  /* Styles */
}
dt > dfn {
  font-style: normal;
  font-weight: bold;
}
/* HORIZONTAL RULES — CONTEXT BREAKS */
hr {
  width: 50%;
  margin-left: 25%;
  margin-top: 1.4em;
  margin-bottom: 1.4em;
  height: 0;
  border: none;
  border-top: 0.125em solid currentColor;
  /* currentColor = color of text (getting around night mode) */
  opacity: 0.5;
  /* Opacity -> grayscale. If opacity is declared for too many elements in a XHTML file, performance of legacy RMSDK takes a hit */
}
@media amzn-mobi {
  hr {
    margin: 1em 0;
  }
}
/* Blank-line context change */
hr.transition {
  width: 100%;
  margin: 0;
  height: 1.5em;
  border: none;
  background: none;
  /* Note: overridden in night mode excepted when using linear-gradient */
}

/* TABLES */
table {
  display: table;
  table-layout: auto;
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
  margin: 1.5em auto;
  /* Note: legacy RMSDK sets auto to 0, which is permitted in a footnote of the EPUB2 specs */
  font-feature-settings: "tnum" 1;
  font-variant-numeric: tabular-nums;
}
@media amzn-mobi {
  table {
    margin: 1em 0;
  }
}
caption {
  caption-side: top;
  /* Note: only value legacy RMSDK supports */
  adobe-hyphenate: none;
  /* proprietary for Legacy RMSDK */
  -ms-hyphens: none;
  -moz-hyphens: none;
  -webkit-hyphens: none;
  -epub-hyphens: none;
  hyphens: none;
  text-indent: 0;
  /* Necessary as RS may define text-indent for p */
  text-align: center;
  font-weight: bold;
}
/* tables */
table, th, td {
    border-collapse: collapse;
}

th, td {
    padding: 0.25em;
    border-bottom: 0.0625em solid currentColor;
    empty-cells: show;
    text-align: left;
}

th {
    font-weight: bold;
}

td {
    /* Styles */
}

tbody {
    /* Styles */
}

tfoot {
    /* Styles */
}

tr {
    /* Styles */
}

.table-fixed {
    table-layout: fixed;
}
/* CODE */
pre {
  margin: 1.5em 0 1.5em 5%;
  word-wrap: break-word;
  white-space: pre-wrap;
  -ms-tab-size: 2;
  -moz-tab-size: 2;
  -webkit-tab-size: 2;
  tab-size: 2;
}
@media amzn-mobi {
  pre {
    margin: 1em 0;
  }
}
code,
kbd,
samp,
var {
  font-family: monospace;
  /* Embed a font cos Kobo doesn't provide a monospace */
}
code {
    font-family: Consolas,"courier new";
    color: inherit;
    background-color: palegoldenrod;
    padding: 2px;
    font-size: 105%;
}
kbd {
    border-radius: 2px;
    padding: 2px;
    border: 1px solid;
}
/* MEDIAS */
svg {
  object-fit: contain;
}
.hidden {
  /* Typical usage: EPUB 3 landmarks inline TOC */
  display: none;
}

/* Misc */
.no-list-type {
  list-style-type: none;
}

/*CDM addition*/
aside {
border: none
}

h2, h3, h4 {
padding: 0.5em 0;
}

