@font-face {
	font-family:"Asdaen Regular";
	font-style:normal;
	font-weight:normal;
	src : url("../font/AsdaenRegular.ttf");
}
@font-face {
	font-family:"Berlin Sans FB Demi";
	font-style:normal;
	font-weight:bold;
	src : url("../font/BerlinSansFBDemi-Bold.TTF");
}
@font-face {
	font-family:"Book Antiqua";
	font-style:normal;
	font-weight:normal;
	src : url("../font/BookAntiqua.TTF");
}
@font-face {
	font-family:Georgia;
	font-style:normal;
	font-weight:normal;
	src : url("../font/Georgia.ttf");
}
@font-face {
	font-family:Georgia;
	font-style:normal;
	font-weight:bold;
	src : url("../font/Georgia-Bold.ttf");
}
@font-face {
	font-family:Georgia;
	font-style:italic;
	font-weight:bold;
	src : url("../font/Georgia-BoldItalic.ttf");
}
@font-face {
	font-family:Georgia;
	font-style:oblique;
	font-weight:bold;
	src : url("../font/Georgia-BoldItalic.ttf");
}
@font-face {
	font-family:Georgia;
	font-style:italic;
	font-weight:normal;
	src : url("../font/Georgia-Italic.ttf");
}
@font-face {
	font-family:Georgia;
	font-style:oblique;
	font-weight:normal;
	src : url("../font/Georgia-Italic.ttf");
}
@font-face {
	font-family:"Nachlieli CLM";
	font-style:italic;
	font-weight:600;
	src : url("../font/NachlieliCLM-BoldOblique.otf");
}
@font-face {
	font-family:"Nachlieli CLM";
	font-style:oblique;
	font-weight:600;
	src : url("../font/NachlieliCLM-BoldOblique.otf");
}
@font-face {
	font-family:Poppins;
	font-style:normal;
	font-weight:bold;
	src : url("../font/Poppins-Bold.ttf");
}
@font-face {
	font-family:Poppins;
	font-style:normal;
	font-weight:normal;
	src : url("../font/Poppins-Regular.ttf");
}
@font-face {
	font-family:"Roboto Condensed";
	font-style:italic;
	font-weight:bold;
	src : url("../font/RobotoCondensed-BoldItalic.ttf");
}
@font-face {
	font-family:"Roboto Condensed";
	font-style:oblique;
	font-weight:bold;
	src : url("../font/RobotoCondensed-BoldItalic.ttf");
}
@font-face {
	font-family:"Roboto Condensed";
	font-style:normal;
	font-weight:normal;
	src : url("../font/RobotoCondensed-Regular.ttf");
}
@font-face {
	font-family:"Tw Cen MT Condensed Extra Bold";
	font-style:normal;
	font-weight:normal;
	src : url("../font/TwCenMT-CondensedExtraBold.TTF");
}
@font-face {
	font-family:Wingdings;
	font-style:normal;
	font-weight:normal;
	src : url("../font/Wingdings-Regular.ttf");
}
body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
	text-rendering:optimizeSpeed;
}
div.Bloc-graphique-standard {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Bloc-de-texte-standard {
	border-style:solid;
}
p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#000000;
	font-family:Georgia, serif;
	font-size:240px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	color:#000000;
	font-family:Georgia, serif;
	font-size:600px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-3 {
	color:#000000;
	font-family:Georgia, serif;
	font-size:360px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-4 {
	color:#000000;
	font-family:Wingdings, sans-serif;
	font-size:240px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-5 {
	color:#000000;
	font-family:"Asdaen Regular", sans-serif;
	font-size:600px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-6 {
	color:#000000;
	font-family:Poppins, sans-serif;
	font-size:220px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-7 {
	color:#000000;
	font-family:Poppins, sans-serif;
	font-size:220px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-8 {
	color:#006f9c;
	font-family:Georgia, serif;
	font-size:240px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-9 {
	color:#006f9c;
	font-family:"Nachlieli CLM", sans-serif;
	font-size:240px;
	font-style:italic;
	font-weight:600;
}
span.CharOverride-10 {
	color:#006f9c;
	font-family:Georgia, serif;
	font-size:160px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-11 {
	color:#000000;
	font-family:Georgia, serif;
	font-size:180px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-12 {
	color:#006f9c;
	font-family:Georgia, serif;
	font-size:180px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-13 {
	color:#000000;
	font-family:"Roboto Condensed", sans-serif;
	font-size:190px;
	font-style:italic;
	font-weight:bold;
}
span.CharOverride-14 {
	color:#006f9c;
	font-family:"Roboto Condensed", sans-serif;
	font-size:190px;
	font-style:italic;
	font-weight:bold;
}
span.CharOverride-15 {
	color:#000000;
	font-family:Georgia, serif;
	font-size:230.6px;
	font-style:italic;
	font-weight:bold;
}
span.CharOverride-16 {
	color:#ffffff;
	font-family:"Tw Cen MT Condensed Extra Bold", sans-serif;
	font-size:672.5px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-17 {
	color:#000000;
	font-family:"Berlin Sans FB Demi", sans-serif;
	font-size:451.1px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-18 {
	color:#c2362c;
	font-family:"Tw Cen MT Condensed Extra Bold", sans-serif;
	font-size:280px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-19 {
	color:#000000;
	font-family:"Book Antiqua", serif;
	font-size:1200px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-20 {
	color:#ffffff;
	font-family:"Roboto Condensed", sans-serif;
	font-size:200px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-21 {
	color:#006f9c;
	font-family:"Roboto Condensed Bold", sans-serif;
	font-size:160px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-22 {
	color:#000000;
	font-family:Georgia, serif;
	font-size:280px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-23 {
	color:#000000;
	font-family:Georgia, serif;
	font-size:240px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-24 {
	color:#000000;
	font-family:Georgia, serif;
	font-size:240px;
	font-style:normal;
	font-weight:bold;
}
span.CharOverride-25 {
	color:#a4bfd6;
	font-family:Georgia, serif;
	font-size:240px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-26 {
	color:#000000;
	font-family:Georgia, serif;
	font-size:960px;
	font-style:normal;
	font-weight:normal;
}
#_idContainer000, #_idContainer008, #_idContainer017, #_idContainer054, #_idContainer065, #_idContainer074 {
	-webkit-transform:translate(559.275px,806.915px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:35.97px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(559.275px,806.915px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:36.85px;
}
#_idContainer001, #_idContainer009, #_idContainer018, #_idContainer055, #_idContainer066, #_idContainer075 {
	-webkit-transform:translate(37.795px,806.915px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:35.97px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(37.795px,806.915px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:512.13px;
}
#_idContainer002, #_idContainer010, #_idContainer019, #_idContainer056, #_idContainer067, #_idContainer076 {
	-webkit-transform:translate(-559.276px,805.389px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-559.276px,805.389px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1118.55px;
}
#_idContainer003, #_idContainer020 {
	-webkit-transform:translate(36.000px,32.679px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:774.21px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,32.679px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:523.28px;
}
#_idContainer004 {
	-webkit-transform:translate(9.752px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:841.89px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(9.752px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:590.46px;
}
#_idContainer005 {
	-webkit-transform:translate(0.000px,806.915px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:35.97px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,806.915px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:36.85px;
}
#_idContainer006, #_idContainer013, #_idContainer022, #_idContainer062, #_idContainer070, #_idContainer082 {
	-webkit-transform:translate(46.299px,806.915px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:35.97px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(46.299px,806.915px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:512.13px;
}
#_idContainer007, #_idContainer023, #_idContainer063, #_idContainer071, #_idContainer083 {
	-webkit-transform:translate(36.000px,805.389px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,805.389px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1118.55px;
}
#_idContainer011 {
	-webkit-transform:translate(35.999px,32.679px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:762.02px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.999px,32.679px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:357.07px;
}
#_idContainer012, #_idContainer021, #_idContainer061, #_idContainer069, #_idContainer081 {
	-webkit-transform:translate(-0.001px,806.915px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:35.97px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,806.915px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:36.85px;
}
#_idContainer014 {
	-webkit-transform:translate(35.999px,805.389px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.999px,805.389px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1118.55px;
}
#_idContainer015 {
	-webkit-transform:translate(36.000px,76.049px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:731.71px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,76.049px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:523.28px;
}
#_idContainer016 {
	-webkit-transform:translate(131.792px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:87.78px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(131.792px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:331.69px;
}
#_idContainer024 {
	-webkit-transform:translate(40.825px,150.488px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:644.68px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(40.825px,150.488px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:518.45px;
}
#_idContainer025 {
	-webkit-transform:translate(301.774px,30.124px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin:0% 0%;
	height:49.85px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(301.774px,30.124px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin:0% 0%;
	width:31.57px;
}
#_idContainer026 {
	-webkit-transform:translate(24.044px,60.489px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:16.97px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(24.044px,60.489px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:239.02px;
}
#_idContainer027 {
	-webkit-transform:translate(0.000px,5.495px) rotate(359.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:54.20px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,5.495px) rotate(359.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:314.88px;
}
#_idContainer028 {
	-webkit-transform:translate(3.667px,8.830px) rotate(359.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:46.78px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(3.667px,8.830px) rotate(359.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:287.10px;
}
#_idContainer029 {
	-webkit-transform:translate(242.023px,65.992px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:79.97px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(242.023px,65.992px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:315.78px;
}
#_idContainer030 {
	-webkit-transform:translate(8.816px,-1.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:137.18px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(8.816px,-1.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:152.08px;
}
#_idContainer031 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:14.53px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:17.63px;
}
#_idContainer032 {
	-webkit-transform:translate(305.433px,252.283px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:135.18px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(305.433px,252.283px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:160.90px;
}
#_idContainer033 {
	-webkit-transform:translate(415.675px,45.455px) rotate(359.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:29.61px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(415.675px,45.455px) rotate(359.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:117.48px;
}
#_idContainer034 {
	-webkit-transform:translate(36.850px,582.519px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:227.72px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.850px,582.519px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:168.71px;
}
#_idContainer035 {
	-webkit-transform:translate(36.000px,132.108px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:82.83px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,132.108px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:49.13px;
}
#_idContainer036 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.85px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:36.85px;
}
#_idContainer037 {
	-webkit-transform:translate(-0.001px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:18.47px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(-0.001px,-0.001px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:23.47px;
}
#_idContainer038 {
	-webkit-transform:translate(6.248px,4.806px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:10.97px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(6.248px,4.806px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:10.97px;
}
#_idContainer039 {
	-webkit-transform:translate(18.576px,4.784px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:2.17px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(18.576px,4.784px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:2.18px;
}
#_idContainer040 {
	-webkit-transform:translate(6.049px,9.261px) rotate(357.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:18.47px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(6.049px,9.261px) rotate(357.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:23.47px;
}
#_idContainer041 {
	-webkit-transform:translate(42.141px,591.023px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.85px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(42.141px,591.023px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:36.85px;
}
#_idContainer042 {
	-webkit-transform:translate(155.338px,40.487px) rotate(90.000deg) skew(1.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:155.34px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(155.338px,40.487px) rotate(90.000deg) skew(1.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:89.41px;
}
#_idContainer043 {
	-webkit-transform:translate(0.000px,43.514px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/40.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:79.97px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,43.514px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:155.34px;
}
#_idContainer044 {
	-webkit-transform:translate(151.674px,580.150px) rotate(180.000deg) skew(0.000deg) scale(20.000,-20.000);
	-webkit-transform-origin:0% 0%;
	height:11.36px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(151.674px,580.150px) rotate(180.000deg) skew(0.000deg) scale(20.000,-20.000);
	transform-origin:0% 0%;
	width:7.58px;
}
#_idContainer045 {
	-webkit-transform:translate(10.299px,77.874px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:57.20px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(10.299px,77.874px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:143.22px;
}
#_idContainer046 {
	-webkit-transform:translate(19.525px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.53px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(19.525px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:26.53px;
}
#_idContainer047 {
	-webkit-transform:translate(0.000px,15.640px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:30.42px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,15.640px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:30.43px;
}
#_idContainer048 {
	-webkit-transform:translate(35.857px,35.844px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:3.98px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.857px,35.844px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:3.96px;
}
#_idContainer049 {
	-webkit-transform:translate(38.829px,28.754px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:2.92px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(38.829px,28.754px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:4.35px;
}
#_idContainer050 {
	-webkit-transform:translate(28.745px,38.817px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.36px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(28.745px,38.817px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:2.93px;
}
#_idContainer051 {
	-webkit-transform:translate(29.725px,53.837px) rotate(240.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:46.06px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(29.725px,53.837px) rotate(240.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:46.06px;
}
#_idContainer052 {
	-webkit-transform:translate(36.000px,14.173px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:134.08px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,14.173px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:155.34px;
}
#_idContainer053 {
	-webkit-transform:translate(129.758px,103.140px) rotate(338.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:48.29px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(129.758px,103.140px) rotate(338.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:49.31px;
}
#_idContainer058 {
	-webkit-transform:translate(4752.755px,7690.810px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-webkit-transform-origin:0% 0%;
	height:24.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(4752.755px,7690.810px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform-origin:0% 0%;
	width:48.00px;
}
#_idContainer057 {
	-webkit-transform:translate(0.000px,3394.363px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-webkit-transform-origin:0% 0%;
	height:103.86px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,3394.363px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform-origin:0% 0%;
	width:149.59px;
}
#_idContainer059 {
	-webkit-transform:translate(0.000px,9868.064px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-webkit-transform-origin:0% 0%;
	height:227.72px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,9868.064px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform-origin:0% 0%;
	width:168.71px;
}
#_idContainer060, #_idContainer064, #_idContainer078 {
	-webkit-transform:translate(36.000px,31.519px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:775.37px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,31.519px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:523.28px;
}
#_idContainer068 {
	-webkit-transform:translate(36.000px,31.519px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/60.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:775.37px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,31.519px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:524.28px;
}
#_idContainer072 {
	-webkit-transform:translate(36.000px,31.746px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:775.14px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,31.746px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:523.28px;
}
#_idAudio000, #_idVideo000, #_idAudio001 {
	-webkit-transform:translate(0.000%,0.000%) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:100.00%;
	object-fit:fill;
	transform:translate(0.000%,0.000%) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:100.00%;
}
#_idContainer073 {
	-webkit-transform:translate(493.228px,727.559px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/65.png);
	background-repeat:no-repeat;
	background-size:contain;
	height:60.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	text-align:left;
	top:0px;
	transform:translate(493.228px,727.559px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:60.00px;
}
#_idContainer077 {
	-webkit-transform:translate(0.000px,3089.777px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/70.png);
	background-repeat:no-repeat;
	background-size:contain;
	height:133.20px;
	left:0px;
	overflow:hidden;
	position:absolute;
	text-align:left;
	top:0px;
	transform:translate(0.000px,3089.777px) rotate(0.000deg) skew(0.000deg) scale(20.000,20.000);
	transform-origin:0% 0%;
	width:236.80px;
}
#_idContainer079 {
	-webkit-transform:translate(43.464px,357.165px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/72.png);
	background-repeat:no-repeat;
	background-size:contain;
	height:60.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	text-align:left;
	top:0px;
	transform:translate(43.464px,357.165px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:60.00px;
}
#_idContainer080 {
	-webkit-transform:translate(103.464px,92.543px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:20.84px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(103.464px,92.543px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:79.43px;
}
#_idContainer084 {
	-webkit-transform:translate(145.511px,29.970px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:600.32px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(145.511px,29.970px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:304.25px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectAttribute-3 {
	height:60px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	width:60px;
}
div._idGenObjectAttribute-4 {
	height:133px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	width:237px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
